<!doctype html>
<html>
	<head>
		<title>DataPak -- Discord</title>
		<link href="https://Minimalist.coolcodersj.repl.co/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="margin-top: 50px; margin-left: 50px;">
		<h3 style="float: left; margin-right: 20px;">Whats Included In Your Data Package</h3>
		<a href="/discord/generate" style="float: left; margin-right: 10px;">
		<button style="padding: 10px;">
			Generate Archive (JSON)
		</button>
		</a>
		<br><br><br><br><br>
		<ul>
			<li>discord.json
				<ul>
					<li>account
						<ul>
							<li>id</li>
							<li>username</li>
							<li>avatar id</li>
							<li>discriminator</li>
							<li>locale</li>
							<li>mfa_enabed (2FA)</li>
							<li>email</li>
						</ul>
					</li>
					<li>connections
						<ul>
							<li>type</li>
							<li>id</li>
							<li>name</li>
							<li>visibility</li>
							<li>friend_sync</li>
							<li>show_activity</li>
							<li>verified</li>
						</ul>
					</li>
					<li>guilds
						<ul>
							<li>id</li>
							<li>name</li>
							<li>icon id</li>
							<li>owner</li>
							<li>permissions</li>
							<li>features</li>
							<li>permissions_new</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>