<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, inital-scale=1">
		<title>DataPak -- Replit</title>
		<link href="https://Minimalist.coolcodersj.repl.co/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="margin-top: 50px; margin-left: 50px;">
		<h3 style="float: left; margin-right: 20px;">Whats Included In Your Data Package</h3>
		<a href="/replit/generate" style="float: left; margin-right: 10px;">
		<button style="padding: 10px;">
			Generate Archive (Zip)
		</button>
		</a>
		<br><br><br><br><br>
		<ul>
			<li>account.json
				<ul>
					<li>Replit Classrooms (Deprecated)</li>
					<li>Hashed Email</li>
					<li>Organization</li>
					<li>User Id</li>
					<li>Username</li>
					<li>First Name</li>
					<li>Last Name</li>
					<li>Bio</li>
					<li>icon
						<ul>
							<li>url</li>
							<li>id</li>
						</ul>
					</li>
					<li>isTeam (Always False for Security Reasons)</li>
					<li>Top 3 Languages</li>
					<li>Hacker Status</li>
				</ul>
			</li>
			<li>A zip version of all of your public, named repls</li>
		</ul>
	</body>
</html>